#FPGA_GCLK 8MHz
NET "clk" LOC = "N7" | IOSTANDARD = LVCMOS33;

#BTNs
NET "ret" LOC = "P8" | IOSTANDARD = LVCMOS33;
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
#NET "en" LOC = "N3" | IOSTANDARD = LVCMOS33;
#NET "deq_FO" LOC = "P3" | IOSTANDARD = LVCMOS33;
#NET "deq_FI" LOC = "N4" | IOSTANDARD = LVCMOS33;
#NET "addrv" LOC = "P4" | IOSTANDARD = LVCMOS33;

NET "a" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "b" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "c" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "d" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "e" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "f" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "g" LOC = "X" | IOSTANDARD = LVCMOS33 | PULLUP;